# ignore all image files
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.bmp
**/*.tiff
**/*.tif
**/*.svg
**/*.ico
**/*.webp
**/*.avif
**/*.pdf
**/*.eps
**/*.ppm
**/*.pgm
d
**/*.pyc

**/*.ply
**/*.mvs
**/*.pcd